.border_box{

	border: solid black 3px;
	height:620px;
	width: 100%;
	background-color: white;

}

.border_1{

	

	height: 45%;
	width: 45%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border: solid black 3px;
	float: left;
}

/*.border1{

	margin-left:10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid black 3px;
	height: 90%;
	width: 96%;
	

}
.border2{

	margin-left:10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid black 3px;
	height: 90%;
	width: 96%;
}
.border3{
	margin-left:10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid black 3px;
	height: 90%;
	width: 96%;
}*/

.border_2{
	float: left;
	height: 45%;
	width: 45%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border: solid brown 4px;

}
.border_3{

	

	height: 45%;
	width: 45%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border: solid brown 4px;
	float: left;
}
.border_4{
	float: left;
	height: 45%;
	width: 45%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border: solid black 4px

}

.br_1 {

	width: 94%;
	height: 90%;
	border: solid black 4px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
	
}
.br_2 {

	width: 94%;
	height: 90%;
	border: solid black 4px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
	
}
.br_3 {

	width: 94%;
	height: 90%;
	border: solid black 4px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
	
}
.br_4 {

	width: 94%;
	height: 90%;
	border: solid black 4px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	margin-left: 10px;
	
}



.img1 {

	height:100%;
	width:100%;
}